* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid blue; */
}
h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 150px;
	margin: 20px 0px;
}
header a.logo {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	text-decoration: none;
}

header a.logo img {
	height: 100%;
	object-fit: scale-down;
}
header a.logo span.text {
	font-size: 20px;
	color: #1d85d0;
	font-weight: 900;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header nav {
	width: 50%;
}
header nav ul.links {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
header nav ul.links li.link {
	list-style: none;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #1d85d0;
	font-weight: 600;
	cursor: pointer;
	border-bottom: solid 3px #ffffff00;
	position: relative;
}
header nav ul.links li.link a {
	padding: 10px 0px;
}
header nav ul.links li.link a:hover {
	border-bottom: solid 3px #1d85d0;
}

header nav ul.links li.link ul.menu {
	display: none;
	background: white;
	border-radius: 10px;
	padding: 30px;
	width: 300%;
	cursor: auto;
}
header nav ul.links li.link.with-menu:hover ul.menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	transform: translateY(5%) translateX(-25%);
	left: 0px;
	box-shadow: -4px 7px 20px -15px black;
}

header nav ul.links li.link ul.menu li {
	font-size: 15px;
	font-weight: 500;
	list-style: disc;
	line-height: 2;
	cursor: pointer;
	color: #0f466d;
}
header nav ul.links li.link ul.menu li:hover {
	color: #1d85d0;
}

header .actions {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header .actions a#signIn {
	margin-right: 10px;
	color: #1d85d0;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
}
header .actions a#getStarted {
	margin-right: 10px;
	background: #1d85d0;
	color: white;
	font-weight: 700;
	padding: 15px;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
}
header .actions a#getStarted:hover {
	background: #0f466d;
}

/* Hero section */
section#hero {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 0px 100px;
}
section#hero .info {
	grid-column: 1;
	display: flex;

	justify-content: center;
	flex-direction: column;
}
section#hero .info h1 {
	font-size: 45px;
}
section#hero .info h1 span {
	color: #1d85d0;
}
section#hero .info p {
	font-size: 20px;
	margin: 20px 0px;
	font-family: Arial, Helvetica, sans-serif;
}
section#hero .info div.action {
	font-size: 20px;
	/* display: block; */
}
section#hero .info div.action a {
	margin-right: 20px;
	background: #1d85d0;
	color: white;
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

section#hero video {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	grid-column: 2;
	border-radius: 10px;
}

/* Mentions */
section#mentions {
	margin: 30px 0px;
}
section#mentions article h1 {
	text-align: center;
}
section#mentions article ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
section#mentions article ul.images li.image {
	margin: 20px 0px;
	list-style: none;
	text-align: center;
	width: 25%;
	filter: grayscale(1);
}
section#mentions article ul.images li.image:hover {
	filter: grayscale(0);
}
section#mentions article ul.images li.image img {
	width: 80%;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
	header {
		flex-direction: column;
		height: auto;
	}
	header a.logo {
		margin: 20px 0px;
		width: 100%;
	}
	header a.logo img {
		height: 70%;
	}
	header nav ul.links {
		display: none;
	}
	header div.actions {
		width: 100%;
		flex-direction: column;
	}
	header div.actions * {
		margin: 10px 0px 10px 0px !important;
	}
}
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
	header {
		justify-content: space-around;
	}
	header nav {
		display: none;
	}
	header div.actions,
	header a.logo {
		width: 50%;
	}
}
