:root {
	--Main-Color: #025157;
	--Secondary-Color: #67b54b;
}
.text-gray {
	color: rgb(161, 161, 161);
}
.text-main {
	color: var(--Main-Color) !important;
}
.text-secondary {
	color: var(--Secondary-Color) !important;
}
.hover-text-secondary:hover {
	color: var(--Secondary-Color) !important;
}
.bg-main {
	background: var(--Main-Color) !important;
}
.hover-bg-secondary:hover {
	background: var(--Secondary-Color) !important;
}
.bg-secondary {
	background: var(--Secondary-Color) !important;
}

.nav-item {
	margin: 0px 4px;
}

.nav-link,
.dropdown-item {
	color: var(--Main-Color) !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
	background: transparent !important;
	color: var(--Secondary-Color) !important;
}

.btn.bg-secondary:hover,
.btn.bg-secondary:focus {
	background: var(--Secondary-Color) !important;
}
